@model BankId.Merchant.Library.SampleWebsite.Models.DirectoryModel

@{
    ViewBag.Title = "DirectoryResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directory</h2>
<hr />
<div class="row">
    <form class="form-horizontal" method="post" role="form">
        <div class="form-group">
            <div class="col-xs-5">
                @Html.Label("BankId.Acquirer.DirectoryUrl", "BankId.Acquirer.DirectoryUrl")
                @Html.TextBoxFor(m => m.DirectoryUrl, new { @class = "form-control" })
            </div>
        </div>
        <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#demo">Toggle more options</button>
        <div id="demo" class="collapse">
            <div class="form-group">
                <div class="col-xs-3">
                    @Html.Label("BankId.Merchant.MerchantID", "BankId.Merchant.MerchantID")
                    @Html.TextBoxFor(m => m.MerchantId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    @Html.Label("BankId.Merchant.SubID", "BankId.Merchant.SubID")
                    @Html.TextBoxFor(m => m.SubId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    @Html.Label("BankId.Merchant.ReturnUrl", "BankId.Merchant.ReturnUrl")
                    @Html.TextBoxFor(m => m.ReturnUrl, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send directory request</button>
    </form>
</div>
<hr />

@if (!String.IsNullOrEmpty(Model.CustomError))
{
    <div class="row alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <p>Custom error: @Model.CustomError</p><br />
    </div>
}


@if (Model.Source != null && Model.Source.IsError)
{
    <div class="row alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

        Error performing request: <br />
        <br />
        @if (!string.IsNullOrEmpty(Model.Source.Error.ErrorCode))
        { 
            <text>Code: @Model.Source.Error.ErrorCode<br /></text>
        }
        @if (!string.IsNullOrEmpty(Model.Source.Error.ErrorMessage))
        {
            <text>Message: @Model.Source.Error.ErrorMessage<br /></text>
        }
        @if (!string.IsNullOrEmpty(Model.Source.Error.ErrorDetails))
        {
            <text>Details: @Model.Source.Error.ErrorDetails<br /></text>
        }
        @if (!string.IsNullOrEmpty(Model.Source.Error.ConsumerMessage))
        {
            <text>Consumer message: @Model.Source.Error.ConsumerMessage<br /></text>
        }
        @if (!string.IsNullOrEmpty(Model.Source.Error.SuggestedAction))
        {
            <text>Code: @Model.Source.Error.SuggestedAction<br /></text>
        }
    </div>
}

@if (Model.Source != null && !Model.Source.IsError)
{
    <div class="row">
        @Html.DropDownListFor(m => m.Source.Issuers, new SelectList(Model.Source.Issuers, "Id", "Name", "0", "Country"), new { @class = "form-control", @name = "issuer" })
    </div>
    <hr />
    <div class="row">
        <textarea readonly="true" class="form-control" rows="10">@Model.Source.RawMessage</textarea>
    </div>
}
